--
-- PostgreSQL database dump
--

\restrict vQNI4wznWxay0tnJso3lrhyGyHaa2RBrTWjh48eqkBZwH7AbgLadBDhz7UgVOOM

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.tickets DROP CONSTRAINT tickets_incident_id_fkey;
ALTER TABLE ONLY public.repository_scans DROP CONSTRAINT repository_scans_repository_id_fkey;
ALTER TABLE ONLY public.repository_scans DROP CONSTRAINT repository_scans_incident_id_fkey;
ALTER TABLE ONLY public.notifications DROP CONSTRAINT notifications_incident_id_fkey;
ALTER TABLE ONLY public.logs DROP CONSTRAINT logs_incident_id_fkey;
ALTER TABLE ONLY public.kg_edges DROP CONSTRAINT kg_edges_target_id_fkey;
ALTER TABLE ONLY public.kg_edges DROP CONSTRAINT kg_edges_source_id_fkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_user_id_fkey;
DROP INDEX public.ix_users_id;
DROP INDEX public.ix_users_email;
DROP INDEX public.ix_tickets_id;
DROP INDEX public.ix_repository_scans_id;
DROP INDEX public.ix_repositories_name;
DROP INDEX public.ix_repositories_id;
DROP INDEX public.ix_notifications_id;
DROP INDEX public.ix_logs_id;
DROP INDEX public.ix_kg_nodes_id;
DROP INDEX public.ix_kg_edges_id;
DROP INDEX public.ix_incidents_title;
DROP INDEX public.ix_incidents_id;
DROP INDEX public.ix_historical_incidents_id;
DROP INDEX public.ix_audit_logs_id;
ALTER TABLE ONLY public.users DROP CONSTRAINT users_pkey;
ALTER TABLE ONLY public.tickets DROP CONSTRAINT tickets_pkey;
ALTER TABLE ONLY public.repository_scans DROP CONSTRAINT repository_scans_pkey;
ALTER TABLE ONLY public.repositories DROP CONSTRAINT repositories_pkey;
ALTER TABLE ONLY public.notifications DROP CONSTRAINT notifications_pkey;
ALTER TABLE ONLY public.logs DROP CONSTRAINT logs_pkey;
ALTER TABLE ONLY public.kg_nodes DROP CONSTRAINT kg_nodes_pkey;
ALTER TABLE ONLY public.kg_edges DROP CONSTRAINT kg_edges_pkey;
ALTER TABLE ONLY public.incidents DROP CONSTRAINT incidents_pkey;
ALTER TABLE ONLY public.historical_incidents DROP CONSTRAINT historical_incidents_pkey;
ALTER TABLE ONLY public.audit_logs DROP CONSTRAINT audit_logs_pkey;
ALTER TABLE public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.repository_scans ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.repositories ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.notifications ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.logs ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.kg_edges ALTER COLUMN id DROP DEFAULT;
ALTER TABLE public.audit_logs ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE public.users_id_seq;
DROP TABLE public.users;
DROP TABLE public.tickets;
DROP SEQUENCE public.repository_scans_id_seq;
DROP TABLE public.repository_scans;
DROP SEQUENCE public.repositories_id_seq;
DROP TABLE public.repositories;
DROP SEQUENCE public.notifications_id_seq;
DROP TABLE public.notifications;
DROP SEQUENCE public.logs_id_seq;
DROP TABLE public.logs;
DROP TABLE public.kg_nodes;
DROP SEQUENCE public.kg_edges_id_seq;
DROP TABLE public.kg_edges;
DROP TABLE public.incidents;
DROP TABLE public.historical_incidents;
DROP SEQUENCE public.audit_logs_id_seq;
DROP TABLE public.audit_logs;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    user_id integer,
    action character varying,
    details json,
    "timestamp" timestamp without time zone
);


ALTER TABLE public.audit_logs OWNER TO sentinel;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO sentinel;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: historical_incidents; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.historical_incidents (
    id character varying NOT NULL,
    title character varying,
    description text,
    root_cause text,
    resolution text,
    resolved_by character varying,
    resolution_time_hours double precision,
    created_at timestamp without time zone
);


ALTER TABLE public.historical_incidents OWNER TO sentinel;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.incidents (
    id character varying NOT NULL,
    title character varying,
    description text,
    status character varying,
    severity character varying,
    application character varying,
    component character varying,
    created_at timestamp without time zone,
    resolved_at timestamp without time zone,
    confidence_score double precision,
    suggested_resolution text,
    est_customers_impacted integer,
    est_financial_exposure double precision,
    mttr_saved double precision,
    impacted_services jsonb DEFAULT '[]'::jsonb,
    jira_content text,
    slack_content text,
    email_content text
);


ALTER TABLE public.incidents OWNER TO sentinel;

--
-- Name: kg_edges; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.kg_edges (
    id integer NOT NULL,
    source_id character varying,
    target_id character varying,
    relation character varying
);


ALTER TABLE public.kg_edges OWNER TO sentinel;

--
-- Name: kg_edges_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.kg_edges_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.kg_edges_id_seq OWNER TO sentinel;

--
-- Name: kg_edges_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.kg_edges_id_seq OWNED BY public.kg_edges.id;


--
-- Name: kg_nodes; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.kg_nodes (
    id character varying NOT NULL,
    type character varying,
    name character varying,
    properties json
);


ALTER TABLE public.kg_nodes OWNER TO sentinel;

--
-- Name: logs; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.logs (
    id integer NOT NULL,
    incident_id character varying,
    "timestamp" timestamp without time zone,
    service_name character varying,
    log_level character varying,
    message text,
    raw_data json
);


ALTER TABLE public.logs OWNER TO sentinel;

--
-- Name: logs_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logs_id_seq OWNER TO sentinel;

--
-- Name: logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.logs_id_seq OWNED BY public.logs.id;


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.notifications (
    id integer NOT NULL,
    incident_id character varying,
    channel character varying,
    message text,
    sent_at timestamp without time zone
);


ALTER TABLE public.notifications OWNER TO sentinel;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO sentinel;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: repositories; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.repositories (
    id integer NOT NULL,
    name character varying,
    url character varying,
    branch character varying
);


ALTER TABLE public.repositories OWNER TO sentinel;

--
-- Name: repositories_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.repositories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.repositories_id_seq OWNER TO sentinel;

--
-- Name: repositories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.repositories_id_seq OWNED BY public.repositories.id;


--
-- Name: repository_scans; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.repository_scans (
    id integer NOT NULL,
    repository_id integer,
    incident_id character varying,
    commit_hash character varying,
    findings json,
    scanned_at timestamp without time zone
);


ALTER TABLE public.repository_scans OWNER TO sentinel;

--
-- Name: repository_scans_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.repository_scans_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.repository_scans_id_seq OWNER TO sentinel;

--
-- Name: repository_scans_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.repository_scans_id_seq OWNED BY public.repository_scans.id;


--
-- Name: tickets; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.tickets (
    id character varying NOT NULL,
    incident_id character varying,
    platform character varying,
    status character varying,
    url character varying
);


ALTER TABLE public.tickets OWNER TO sentinel;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sentinel
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying,
    hashed_password character varying,
    is_active boolean,
    role character varying
);


ALTER TABLE public.users OWNER TO sentinel;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: sentinel
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO sentinel;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sentinel
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: kg_edges id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.kg_edges ALTER COLUMN id SET DEFAULT nextval('public.kg_edges_id_seq'::regclass);


--
-- Name: logs id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.logs ALTER COLUMN id SET DEFAULT nextval('public.logs_id_seq'::regclass);


--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: repositories id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repositories ALTER COLUMN id SET DEFAULT nextval('public.repositories_id_seq'::regclass);


--
-- Name: repository_scans id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repository_scans ALTER COLUMN id SET DEFAULT nextval('public.repository_scans_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.audit_logs (id, user_id, action, details, "timestamp") FROM stdin;
\.


--
-- Data for Name: historical_incidents; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.historical_incidents (id, title, description, root_cause, resolution, resolved_by, resolution_time_hours, created_at) FROM stdin;
\.


--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: sentinel
--



--
-- Data for Name: kg_edges; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.kg_edges (id, source_id, target_id, relation) FROM stdin;
\.


--
-- Data for Name: kg_nodes; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.kg_nodes (id, type, name, properties) FROM stdin;
\.


--
-- Data for Name: logs; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.logs (id, incident_id, "timestamp", service_name, log_level, message, raw_data) FROM stdin;
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.notifications (id, incident_id, channel, message, sent_at) FROM stdin;
\.


--
-- Data for Name: repositories; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.repositories (id, name, url, branch) FROM stdin;
\.


--
-- Data for Name: repository_scans; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.repository_scans (id, repository_id, incident_id, commit_hash, findings, scanned_at) FROM stdin;
\.


--
-- Data for Name: tickets; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.tickets (id, incident_id, platform, status, url) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sentinel
--

COPY public.users (id, email, hashed_password, is_active, role) FROM stdin;
\.


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, false);


--
-- Name: kg_edges_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.kg_edges_id_seq', 1, false);


--
-- Name: logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.logs_id_seq', 1, false);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: repositories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.repositories_id_seq', 1, false);


--
-- Name: repository_scans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.repository_scans_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sentinel
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: historical_incidents historical_incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.historical_incidents
    ADD CONSTRAINT historical_incidents_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: kg_edges kg_edges_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.kg_edges
    ADD CONSTRAINT kg_edges_pkey PRIMARY KEY (id);


--
-- Name: kg_nodes kg_nodes_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.kg_nodes
    ADD CONSTRAINT kg_nodes_pkey PRIMARY KEY (id);


--
-- Name: logs logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT logs_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: repositories repositories_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repositories
    ADD CONSTRAINT repositories_pkey PRIMARY KEY (id);


--
-- Name: repository_scans repository_scans_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repository_scans
    ADD CONSTRAINT repository_scans_pkey PRIMARY KEY (id);


--
-- Name: tickets tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_historical_incidents_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_historical_incidents_id ON public.historical_incidents USING btree (id);


--
-- Name: ix_incidents_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_incidents_id ON public.incidents USING btree (id);


--
-- Name: ix_incidents_title; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_incidents_title ON public.incidents USING btree (title);


--
-- Name: ix_kg_edges_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_kg_edges_id ON public.kg_edges USING btree (id);


--
-- Name: ix_kg_nodes_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_kg_nodes_id ON public.kg_nodes USING btree (id);


--
-- Name: ix_logs_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_logs_id ON public.logs USING btree (id);


--
-- Name: ix_notifications_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_notifications_id ON public.notifications USING btree (id);


--
-- Name: ix_repositories_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_repositories_id ON public.repositories USING btree (id);


--
-- Name: ix_repositories_name; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_repositories_name ON public.repositories USING btree (name);


--
-- Name: ix_repository_scans_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_repository_scans_id ON public.repository_scans USING btree (id);


--
-- Name: ix_tickets_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_tickets_id ON public.tickets USING btree (id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: sentinel
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: kg_edges kg_edges_source_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.kg_edges
    ADD CONSTRAINT kg_edges_source_id_fkey FOREIGN KEY (source_id) REFERENCES public.kg_nodes(id);


--
-- Name: kg_edges kg_edges_target_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.kg_edges
    ADD CONSTRAINT kg_edges_target_id_fkey FOREIGN KEY (target_id) REFERENCES public.kg_nodes(id);


--
-- Name: logs logs_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.logs
    ADD CONSTRAINT logs_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: notifications notifications_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: repository_scans repository_scans_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repository_scans
    ADD CONSTRAINT repository_scans_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- Name: repository_scans repository_scans_repository_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.repository_scans
    ADD CONSTRAINT repository_scans_repository_id_fkey FOREIGN KEY (repository_id) REFERENCES public.repositories(id);


--
-- Name: tickets tickets_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sentinel
--

ALTER TABLE ONLY public.tickets
    ADD CONSTRAINT tickets_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vQNI4wznWxay0tnJso3lrhyGyHaa2RBrTWjh48eqkBZwH7AbgLadBDhz7UgVOOM

